@media all and (min-width: 1024px) and (max-width: 1280px) {
  html {
    font-size: 55%;
  }

  .card {
    width: 22%;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 45%;
  }

  .card {
    width: 30%;
  }

  body {
    font-size: 2rem;
  }

  .cart-article {
    top: 0;
  }
}

@media all and (min-width: 1px) and (max-width: 768px) {
  .article-content {
    margin: 0 1rem;
    justify-content: flex-start;
    gap: 0;
  }

  .card {
    width: 45%;
  }

  html {
    font-size: 50%;
  }
  div.side-content {
    /* display: none; */
    padding: 5px;
  }

  div.side-bar {
    z-index: 11;
    top: 8%;
    left: 0;
  }

  .side-bar > p {
    content: 'lol';
    display: none;
  }

  div.container {
    gap: 0;
  }

  .search {
    width: 20rem;
  }

  .side-row .material-icons {
    margin: 0 0;
  }

  div.side-contents {
    padding: 5px;
    border-radius: 10px;
  }

  .apps {
    top: 5%;
  }

  div.active {
    display: flex;
  }

  .nav-end {
    flex-direction: row;
  }
  .item {
    display: block;
    flex-direction: column;
    justify-content: center;
  }

  div.total-orders span {
    font-size: 1.5rem;
  }

  div.total-orders button {
    font-size: 1.5rem;
  }
}

@media all and (min-width: 1px) and (max-width: 500px) {
  div.nav-end {
    /* width: 34px; */
    font-size: 24px;
    border-radius: 5px;
    background-color: var(--black);
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
  }

  .router {
    height: calc(100% - 50px);
  }

  .medoc-title {
    transform: translateY(2px);
  }
  .nav-item {
    justify-content: flex-start;
    padding: 0;
    margin: 0;
  }

  div.active {
    display: block;
  }

  .material-icons.item {
    font-size: 24px;
  }

  .item {
    margin: 1px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .element {
    color: var(--white);
    display: block;
  }

  .cart-article {
    width: 10px;
    height: 10px;
    font-size: 10px;
    left: -10%;
  }

  div.banner {
    gap: 0;
    margin-top: 5px;
    padding: 5px;
    flex-direction: column;
  }

  div.banner-content,
  .t,
  .banner-content .material-icons {
    font-size: 2rem;
  }

  input[type='search']::placeholder {
    font-size: 1.1rem;
  }
}

@media all and (min-width: 1px) and (max-width: 350px) {
  .card {
    width: 80%;
  }
}
.apps {
  color: var(--green);
  z-index: 12;
  position: absolute;
  transform: translateY(-100%);
  left: 10%;
  font-size: 30px;
}

.element {
  z-index: 11;
  font-size: 3.5rem;
  color: var(--white);
}
